@{

}

<div class="content-body">
    <div class="contacts">
        <div style="min-width: 260px;">
            <p><b>Время работы:</b></p>
            <p>пн-пт 8.00 - 20.00</p>
            <p>сб, вс 9.00 - 18.00</p>
            <p><b>Телефоны:</b></p>
            <p>+375(33)124-87-95</p>
            <p>+375(44)984-57-12</p>
            <p><b>Мы в социальных сетях:</b></p>
            <p class="c-orange"><b><i class="fab fa-vk"></i>: <a href="">www.vk.com/TourSnap</a></b></p>
            <p class="c-orange"><b><i class="fab fa-odnoklassniki"></i>: <a href="">www.ok.com/TourSnap</a></b></p>
            <p class="c-orange"><b><i class="fab fa-instagram"></i>: <a href="">www.instagram.com/Toursnap</a></b></p>
        </div>
        <div>
            <p><b>Офис:</b></p>
            <p>Юбилейная ул., 2А</p>
            <p>г. Новополоцк</p>
            <p><b>Реквизиты:</b></p>
            <p>УНП 817271231</p>
            <p>ОКПО 01928182</p>
        </div>
    </div>
    <div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac8bd74a405a562036f9d2a72c45a7326b6823ebfab51984b4f02cb117af01656&amp;source=constructor" class="map" frameborder="0"></iframe>
        <!--<img src="~/Data/img/map.jpg" class="map">--Ю
        </div>
    </div>
