@{
    Int32 ID = (this.ViewBag.ContentID != null) ? this.ViewBag.ContentID : 1;
    Dictionary<Int32, String> Menu = (this.ViewBag.PartnersMenu != null) ? this.ViewBag.PartnersMenu : new Dictionary<Int32, String>()
    {
        { 1, "Авиабилеты" },
        { 2, "ЖД Билеты" },
        { 3, "Автобусные билеты" },
        { 4, "Страхование" },
        { 5, "Визовая поддержка" },
        { 6, "Бронирование отелей" },
        { 7, "Транспорт" },
    };
}

<div class="content-body">
    <div class="menu">
        @foreach (var Item in Menu)
        {
            string cls = (ID == Item.Key) ? "active" : "";
            <a class="dropdown-item @cls" href="/Home/Partners/@Item.Key">@Item.Value</a>
        }
    </div>
    @if (ID == 1)
    {
        <div class="page-content">
            <p class="title">Бронирование и оформление авиабилетов</p>
            <div class="content">
                <p>Мы осуществляем бронирование и продажу авиабилетов юридическим лицам в любую точку мира на практически все авиакомпании мира, в том числе Лоукост авиакомпании – WizzAir, RyanAir, Победа, Norwegian Air, Transavia, Fly Dubai и другие.</p>
                <p>Выбор оптимального варианта перелета из точки А в точку B - задача не из легких. Особенно, если поездка предусматривает сложные маршруты, стыковочные рейсы, ограничения по времени. Сотрудники TourSnap всегда профессионально подберут Вам наилучшие варианты перелетов в кратчайшие сроки.</p>
                <p>Для всех наших корпоративных клиентов мы организуем ведение бонусных программ авиакомпаний для накопления баллов с целью получения премиальных билетов и других преимуществ.</p>
                <p>У нас Вы также можете заказать услуги бронирования VIP-обслуживания в залах вылета и прилета Национального аэропорта Минск.</p>
            </div>
        </div>
    }
    @if (ID == 2)
    {
        <div class="page-content">
            <p class="title">Оформление железнодорожных билетов</p>
            <div class="content">
                <p>Железнодорожный транспорт по-прежнему остается популярным способом перемещения - причем не только для поездок внутри страны, но и для международных поездок.</p>
                <p>Мы подберем и оформим для Вас железнодорожные билеты по внутренним и международным направлениям.</p>
                <p>Мы оформим билеты европейских железнодорожных перевозчиков Deutsche Bahn, SNCF, Eurostar, Renfe, Thalys и других железных дорог Европы.</p>
                <p>А также мы оформим билеты на поезд «Аэроэкспресс», курсирующий между аэропортами и вокзалами Москвы.</p>
            </div>
        </div>
    }
    @if (ID == 3)
    {
        <div class="page-content">
            <p class="title">Оформление автобусных билетов</p>
            <div class="content">
                <p>TourSnap предлагает услуги по продаже автобусных билетов по всем международным направлениям.</p>
            </div>
        </div>
    }
    @if (ID == 4)
    {
        <div class="page-content">
            <p class="title">Страхование</p>
            <div class="content">
                <p>TourSnap предоставляет следующие услуги по страхованию:</p>
                <ul>
                    <li>страхование от несчастных случаев и болезней на время поездки за границу;</li>
                    <li>страхование от невыезда;</li>
                    <li>оформление Зеленой карты;</li>
                    <li>обязательное медицинское страхование иностранных граждан и лиц без гражданства, временно пребывающих или временно проживающих в Республике Беларусь.</li>
                </ul>
                <p>Мы работаем исключительно с надежными страховыми компаниями, имеющими многолетний опыт и безупречную репутацию на международном рынке страховых услуг.</p>
                <p>Оформленная страховка - залог Вашего беззаботного путешествия!</p>
            </div>
        </div>
    }
    @if (ID == 5)
    {
        <div class="page-content">
            <p class="title">Визовая поддержка</p>
            <div class="content">
                <p>Многолетний опыт в оформлении различных видов виз позволяет нам оказывать корпоративную визовую поддержку на высоком уровне. Квалифицированный персонал и налаженное сотрудничество с консульствами, посольствами, визовыми центрами – это залог успешного взаимодействия с корпоративными клиентами нашей компании.</p>
                <p>Комплексный подход позволяет в самые сжатые сроки получить визу любого типа для вашего путешествия.</p>
            </div>
        </div>
    }
    @if (ID == 6)
    {
        <div class="page-content">
            <p class="title">Бронирование отелей в любой точке мира</p>
            <div class="content">
                <p>Мы подберем и забронируем для Вас отель в любой точке мира с учетом Ваших персональных потребностей.</p>
                <p>Наше долговременное сотрудничество с зарубежными DMC-партнерами и ведущими GDS и онлайн-системами бронирования гостиниц позволяет:</p>
                <ul>
                    <li>бронировать размещение в гостиницах в Беларуси и за рубежом по минимальным тарифам;</li>
                    <li>заказывать блоки номеров для группового проживания по специальным тарифам;</li>
                    <li>участвовать в программе поощрения гостей.</li>
                </ul>
                <p>Бронирование отеля с помощью TourSnap – это удобно, быстро, просто и выгодно!</p>
            </div>
        </div>
    }
    @if (ID == 7)
    {
        <div class="page-content">
            <p class="title">Транспортное обслуживание по всему миру</p>
            <div class="content">
                <p>Мы предоставляем корпоративным клиентам следующие услуги по транспортному обслуживанию:</p>
                <ul>
                    <li>заказ индивидуальных и групповых трансферов в городах Беларуси и за рубежом;</li>
                    <li>организация VIP трансферов (автомобили класса «люкс» с профессиональными водителями, минимальные временные затраты при максимальном комфорте);</li>
                    <li>аренда автомобилей любого класса в любой точке мира с водителем и без;</li>
                    <li>организация трансфера для групп (минивэны и автобусы).</li>
                </ul>
                <p>Мы обеспечим высокое качество и безопасность заказанных услуг и позаботимся о том, чтобы Вам было удобно во время всего путешествия.</p>
            </div>
        </div>
    }
</div>
