<footer>
    <div class="content">
        <div class="submenu">
            <p class="title">Главное меню</p>
            <div class="data">
                <a href="#">Главная страница</a>
                <a href="#">Акции</a>
                <a href="#">Горячие туры</a>
                <a href="#">Курорты</a>
                <a href="#">Туры</a>
                <a href="#">Партнёрам</a>
                <a href="#">Организациям</a>
                <a href="#">Контакты</a>
            </div>
        </div>
        <div class="address">
            <p class="title">Адреса и реквизиты</p>
            <div class="data">
                <p><b>Офис:</b></p>
                <p>Юбилейная ул., 2А</p>
                <p>г. Новополоцк</p>
                <p><b>Реквизиты:</b></p>
                <p>УНП 817271231</p>
                <p>ОКПО 01928182</p>
            </div>
        </div>
        <div class="contacts">
            <p class="title">Контакты</p>
            <div class="data">
                <p><b>Время работы:</b></p>
                <p>пн-пт 8.00 - 20.00</p>
                <p>сб, вс 9.00 - 18.00</p>
                <p><b>Телефоны:</b></p>
                <p>+375(33)124-87-95</p>
                <p>+375(44)984-57-12</p>
                <p><b>Социальные сети:</b></p>
                <div class="social">
                    <a href=""><i class="fab fa-vk"></i></a>
                    <a href=""><i class="fab fa-odnoklassniki"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="partners">
            <p class="title">Наши партнёры</p>
            <div class="data">
                <div class="grid">
                    <a href=""></a>
                </div>
            </div>
        </div>
        <h2>Туристическое агентство TourSnap © 2021 Все права защищены</h2>
    </div>
</footer>